@page
@model thelast.Pages.Master.EditModel
@{
}

<br>
<h3>Edit Client</h3>
@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
	</div>
}

<form method="post">

	<div class="row mb-3">
		<input type="hidden" name="id" value="@Model.dokterInfo.id">
		<label class="col-sm-3 col-form-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="nama" value="@Model.dokterInfo.nama" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">NIK</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="nik" asp-for="@Model.dokterInfo.nik" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Spesialis</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="spesialis" asp-for="@Model.dokterInfo.spesialis" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Jenis kelamin</label>
		<div class="col-sm-6">
			<select class="form-control" id="jenis_kelamin" name="jenis_kelamin" asp-for="@Model.dokterInfo.jenis_kelamin">
				<option value="L">Laki-laki</option>
				<option value="P">Perempuan</option>
			</select>
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
				</div>
			</div>
		</div>
	}
	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Master/Dokter" role="button">Cancel</a>
		</div>


	</div>
</form>